/*-- scss:rules --*/
#title-block-header.quarto-title-block.default .quarto-title .title {
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-weight: 700;
}
.quarto-title-block .quarto-title-banner {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
