on:
  workflow_dispatch:

name: Clean pkgdown manually

jobs:
  pkgdown-gh-pages-manual:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      AEMET_API_KEY: ${{ secrets.AEMET_API_KEY }}
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v1

      - uses: r-lib/actions/setup-r@v1
        with:
          use-public-rspm: true


      - uses: r-lib/actions/setup-r-dependencies@v1
        with:
          extra-packages: |
            pkgdown
            remotes
            devtools
            ropenspain/rostemplate
            mapSpain
            classInt
            raster
            sp
            gstat
            geoR
            scatterplot3d
            styler
            geofacet
            reactable
            leaflet
            tidyverse
            gifski
          needs: website

      - name: Deploy package
        run: |
          git config --local user.name "dieghernan"
          git config --local user.email "dieghernan@users.noreply.github.com"
          Rscript -e 'pkgdown::deploy_to_branch(new_process = FALSE, clean = TRUE)'