on:
  workflow_dispatch:

name: update-docs

jobs:
  update-docs:
    runs-on: windows-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      AEMET_API_KEY: ${{ secrets.AEMET_API_KEY_CODECOV }}
      AEMET_API_KEY01: ${{ secrets.AEMET_API_KEY }}
      AEMET_API_KEY02: ${{ secrets.AEMET_API_KEY_PKGDOWN }}
      AEMET_API_KEY03: ${{ secrets.AEMET_API_KEY2 }}
    steps:
      - uses: actions/checkout@v6

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true


      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            local::.
            any::rcmdcheck
            any::pkgdown
            any::styler
            ropenspain/rostemplate
            dieghernan/pkgdev

          needs: |
            website
            check

      - name: Install Air
        uses: posit-dev/setup-air@v1

      - name: Format with Air
        run: air format .

      - name: Update docs
        run: |

          pkgdev::update_docs()

        shell: Rscript {0}

      - name: Commit results
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -m 'Update docs with pkgdev' || echo "No changes to commit"
          git push origin || echo "No changes to commit"

      - uses: r-lib/actions/check-r-package@v2

      - name: Deploy package
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          Rscript -e 'pkgdown::deploy_to_branch(new_process = FALSE, run_dont_run = TRUE)'

